# ---------------------------
# Terraform files to ignore
# ---------------------------

# Local state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
!example.tfvars        # <-- keep an example for others

# Terraform working directories
.terraform/
.terraform.lock.hcl

# Override files (used for local testing)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI output files
*.plan
*.tfplan
